@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

* {
  box-sizing: border-box; }

body {
  background: #322d40;
  font-family: "Roboto", sans-serif; }

main {
  padding: 8%;
  height: 100vh;
  width: 100%;
  overflow: hidden; }

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header h1 {
    font-size: 1em;
    color: white;
    font-weight: 300; }
    header h1 span {
      color: orangered; }
  header button {
    color: white; }

#player .img {
  width: 100%; }
  #player .img img {
    width: 100%; }

#song {
  padding: 10%; }

.time-line {
  width: 100%;
  height: 5px; }
  .time-line .progress {
    width: 60%;
    background: orangered;
    height: 100%;
    display: block; }

.song-info {
  width: 100%;
  text-align: center;
  margin: 2em 0; }
  .song-info h2 {
    font-size: 2em;
    font-weight: 300;
    color: white;
    margin: 0 0 0.5em 0; }
  .song-info p {
    font-size: 1em;
    font-weight: 300;
    color: orangered; }

.controls {
  width: 100%; }
  .controls ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .controls ul li {
      align-self: center; }
  .controls button {
    color: lightgray; }
    .controls button i {
      font-size: 1em; }

#wrap-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .2; }

main {
  position: relative;
  z-index: 10; }

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.box {
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #49425e;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  margin-top: -50%;
  transform-origin: 50% 48%;
  border-radius: 100%;
  animation: drift 7000ms infinite linear; }

.wave.-three {
  animation: drift 9000ms infinite linear; }

.wave.-two {
  animation: drift 12000ms infinite linear;
  opacity: .1;
  background: #0af; }

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0); }

@keyframes drift {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }
#playlist {
  position: absolute;
  z-index: 1000;
  right: 0;
  left: 0;
  bottom: 0;
  background: #322d40;
  opacity: 0.9;
  color: white;
  width: 100%;
  height: 50px; }
  #playlist header {
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: #333333;
    opacity: 0.9;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75); }
    #playlist header button {
      width: 100%;
      font-weight: 300; }
  #playlist ul {
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll; }
    #playlist ul li {
      padding: 3% 5%;
      font-weight: 300;
      display: flex;
      border-top: 1px solid #444444;
      border-bottom: black; }
      #playlist ul li:first-child {
        border-top: none; }
      #playlist ul li:last-child {
        border-bottom: none; }
      #playlist ul li .info {
        width: 90%; }
        #playlist ul li .info p {
          font-size: 0.8 em; }
        #playlist ul li .info span {
          font-size: 0.7em; }
      #playlist ul li .time {
        font-size: 0.7em;
        text-align: right; }

.menu--animatable {
  transition: all 130ms ease-in; }

.menu--visible {
  -webkit-transform: none;
  transform: none;
  height: 100vh !important; }

.menu--visible.menu--animatable {
  transition: all 330ms ease-out; }

/*# sourceMappingURL=styles.css.map */
